<div class="row col-xs-12">
        <div class="col col-xs-12 col-sm-6 offset-sm-3">
            <h2>Edit event</h2>
            <%= render 'form', event: @event %>
    
            <%= link_to 'Back', events_path, class: "btn btn-link" %>
        </div>
    </div>
    
    
    